

{{activeSong}}
<button-eject (files)="songs = $event"></button-eject>
<div class="list-songs">
  <ul [ngStyle]="listPosition">
    <li *ngFor="let song of songs">
      <span class="margin-auto">{{song.name}}</span>
    </li>
  </ul>
</div>

<div class="flex flex-space-evenly">
  <button-back [buttonOutlineStyle]="buttonOutlineStyle" (click)="activateSong(-1)"></button-back>
  <button-stop [buttonOutlineStyle]="buttonOutlineStyle" (stop$)="stop()"></button-stop>
  <button-forward [buttonOutlineStyle]="buttonOutlineStyle" (click)="activateSong(1)"></button-forward>
</div>
<div class="visualizer-container" *ngIf="false">
  <div *ngFor="let bar of visualizer.bar" [ngStyle]="getStyle(bar)" class="bar" [class.suspended]="ctx.state === 'suspended'"></div>
</div>
<button-play class="margin-auto" [buttonOutlineStyle]="buttonOutlineStyle" [playing]="playerPlaying" (playing$)="playToggle()"></button-play>
<svg height="100" width="300" preserveAspectRatio="none" viewBox="0 0 100 10" *ngIf="visualizer">
  <path *ngFor="let wave of waves" [attr.fill]="wave.fill" stroke="none" stroke-width="1" [attr.d]="wave.path" />
</svg>