:root {
    --Dark-Main-BG-Color: rgb(22,22,28);
    --Dark-Nav-BG-Color: rgb(40,40,40);
    --Dark-Nav-BG-Active: rgb(55,55,55);
    --Dark-Font-Color: rgb(247, 248, 248);
    --Dark-Font-Emphasis: rgb(94, 106, 210);
    --Dark-Font-Addition: rgba(149, 162, 179,1);
    --Dark-Icon-Fill: var(--Dark-Font-Color);
    --Dark-Card-BG: rgba(55,55,55,1);

    --Light-Main-BG-Color: rgb(215,215,215);
    --Light-Nav-BG-Color: rgb(0,191,255);
    --Light-Nav-BG-Active: rgb(200,200,200);
    --Light-Font-Color: rgb(40,40,40);
    --Light-Font-Emphasis: rgb(94, 106, 210);
    --Light-Font-Addition: rgba(149, 162, 179,1);
    --Light-Icon-Fill: var(--Light-Font-Color);
    --Light-Card-BG: rgb(255,255,255,1);

    --nav-height: 3rem;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu, Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    
}
[data-theme="light"] {
    --Main-BG-Color: var(--Light-Main-BG-Color);
    --Nav-BG-Color: var(--Light-Nav-BG-Color);
    --Nav-BG-Active: var(--Light-Nav-BG-Active);
    --Font-Color: var(--Light-Font-Color);
    --Font-Emphasis: var(--Light-Font-Emphasis);
    --Font-Addition: var(--Light-Font-Addition);
    --Icon-Fill: var(--Light-Icon-Fill);
    --Card-BG: var(--Light-Card-BG);
}
[data-theme="dark"] {
    --Main-BG-Color: var(--Dark-Main-BG-Color);
    --Nav-BG-Color: var(--Dark-Nav-BG-Color);
    --Nav-BG-Active: var(--Dark-Nav-BG-Active);
    --Font-Color: var(--Dark-Font-Color);
    --Font-Emphasis: var(--Dark-Font-Emphasis);
    --Font-Addition: var(--Dark-Font-Addition);
    --Icon-Fill: var(--Dark-Icon-Fill);
    --Card-BG: var(--Dark-Card-BG);
}
html,body {
    margin: 0;
}
.card {
    @extend .elevation-2;
    background-color: var(--Card-BG);
}

.elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elevation-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.button-icon {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.button-icon .icon {
    stroke: none;
    fill: var(--Icon-Fill);
    transform-origin: center center;
}
.button-icon svg g {
    transform-origin: inherit;
}
.button-icon svg {
    width: 36px;
    height: 36px;
}
.pressed {
    animation: .3s ease-in-out 0s icon-press;
}
.pressed-again {
    animation: .3s ease-in-out 0s icon-press-again;
}
@keyframes icon-press {
    50% { transform: scale(1);}
    50% { transform: scale(.8);}
    100% { transform: scale(1);}
}
@keyframes icon-press-again {
    50% { transform: scale(1);}
    50% { transform: scale(.8);}
    100% { transform: scale(1);}
}
.flex {
    display: flex;
}
.flex-space-evenly {
    justify-content: space-evenly;
}
.margin-auto {
    margin: auto;
}
h1 {
    font-weight: 800;
    font-size: 3rem;
}